Importing the Dependencies

In [37]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection and Processing

In [38]:
# loading the csv data to a Pandas DataFrame
heart_data = pd.read_csv('C:/Users/Bhargav/OneDrive/Desktop/ml/dataset/heart.csv')

In [39]:
# print first 5 rows of the dataset
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [40]:
# print last 5 rows of the dataset
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
3560,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
3561,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
3562,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
3563,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
3564,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [41]:
# number of rows and columns in the dataset
heart_data.shape

(3565, 14)

In [42]:
# getting some info about the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3565 entries, 0 to 3564
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       3565 non-null   int64
 1   sex       3565 non-null   int64
 2   cp        3565 non-null   int64
 3   trestbps  3565 non-null   int64
 4   chol      3565 non-null   int64
 5   fbs       3565 non-null   int64
 6   restecg   3565 non-null   int64
 7   thalach   3565 non-null   int64
 8   exang     3565 non-null   int64
 9   oldpeak   3565 non-null   float64
 10  slope     3565 non-null   int64
 11  ca        3565 non-null   int64
 12  thal      3565 non-null   int64
 13  target    3565 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 390.0 KB

In [43]:
# checking for missing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [44]:
# statistical measures about the data
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,3565.000000,3565.000000,3565.000000,3565.000000,3565.000000,3565.000000,3565.000000,3565.000000,3565.000000,3565.000000,3565.000000,3565.000000,3565.000000,3565.000000
mean,54.405330,0.690323,0.952875,131.616830,246.112202,0.148948,0.529032,149.340533,0.332398,1.057952,1.391304,0.743619,2.319495,0.526508
std,9.068874,0.462425,1.029869,17.511056,51.650386,0.356087,0.526579,22.945274,0.471139,1.168263,0.616626,1.026537,0.616618,0.499367
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.000000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [45]:
# checking the distribution of Target Variable
heart_data['target'].value_counts()

1    1877
0    1688
Name: target, dtype: int64

1 --> Defective Heart

0 --> Healthy Heart

Splitting the Features and Target

In [46]:
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']

In [47]:
print(X)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      63    1   3       145   233    1        0      150      0      2.3
1      37    1   2       130   250    0        1      187      0      3.5
2      41    0   1       130   204    0        0      172      0      1.4
3      56    1   1       120   236    0        1      178      0      0.8
4      57    0   0       120   354    0        1      163      1      0.6
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
3560   57    0   0       140   241    0        1      123      1      0.2
3561   45    1   3       110   264    0        1      132      0      1.2
3562   68    1   0       144   193    1        1      141      0      3.4
3563   57    1   0       130   131    0        1      115      1      1.2
3564   57    0   1       130   236    0        0      174      0      0.0

      slope  ca  thal
0         0   0     1
1         0   0     2
2         2   0     2
3         2   0     2
4         2   0     2
...     ...  ..   ...
3560      1   0     3
3561      1   0     3
3562      1   2     3
3563      1   1     3
3564      1   1     2

[3565 rows x 13 columns]

In [48]:
print(Y)

0       1
1       1
2       1
3       1
4       1
       ..
3560    0
3561    0
3562    0
3563    0
3564    0
Name: target, Length: 3565, dtype: int64

Splitting the Data into Training data & Test Data

In [49]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [50]:
print(X.shape, X_train.shape, X_test.shape)

(3565, 13) (2852, 13) (713, 13)

Model Training

Logistic Regression

In [51]:
model = LogisticRegression()

In [52]:
numerical_cols = [col for col in heart_data.columns if heart_data[col].dtype in ['int64', 'float64']]
X = heart_data[numerical_cols]

In [53]:
df = pd.DataFrame(heart_data)
print(df.dtypes)

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [59]:
model = LogisticRegression(max_iter=10000)

In [60]:
# training the LogisticRegression model with Training data
model.fit(X_train, Y_train)

LogisticRegression(max_iter=10000)

Model Evaluation

Accuracy Score

In [61]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [62]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.8394109396914446

In [63]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [64]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.85273492286115

Building a Predictive System

In [65]:
input_data = (62,0,0,140,268,0,0,160,0,3.6,0,2,2)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[0]
The Person does not have a Heart Disease

C:\Users\Bhargav\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

Saving the trained model

In [66]:
import pickle

In [67]:
filename = 'heart_disease_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [68]:
# loading the saved model
loaded_model = pickle.load(open('heart_disease_model.sav', 'rb'))

In [69]:
for column in X.columns:
  print(column)

age
sex
cp
trestbps
chol
fbs
restecg
thalach
exang
oldpeak
slope
ca
thal
target